.contact{
	text-align:center;
	background-image:url(../images/contact-bg.png);
	background-size:cover;
	background-position:top center;
	background-attachment:fixed;
	h1{
		font-size: 35px;
		display: block;
		text-align: center;
		font-weight: bold;
		color: $black;
		padding: 20px 0px;
	}
	span{
		font-size: 80px!important;
		color: $black;
		padding-right:20px;
	}
	
}