.creatives{
	background-color:#FCFCFC;
}
#tabs-swipe-demo{
	.tab{
		width: 20%;
		padding: 0px;
		background:#f1f1f1;
		float: left;
		border-right: 3px solid #fff;
		a{
			font-size: 12px;
			letter-spacing: 1px;
			display: block;
			color: #333;
			transition: all 0.5s ease;
		}

	}
}
.border-right-0{
	border-right:0px!important;
}
.full-box{
	width:100%;
	height:auto;
	margin-top:20px;
}
.tabs .tab a:hover, .tabs .tab a.active{
	background-color:$black;
	color:$white!important;
}

.tabs .indicator{
	display:none;
}

.right-w{
	width:270px;
	float:left;
	background-color:$black;
	height:530px;
	background-image:url(../images/interior.png);
	background-size:cover;
	padding:20px;
	h2{
		font-size: 26px;
		display: block;
		color: #fff;
		padding-top:10%;
	}
	h1{
		font-size: 36px;
		display: block;
		font-weight: 700;
		color: #fff;
	}
	p{
		font-size: 14px;
		line-height: 23px;
		padding-top:20px;
	}
}
.left-w{
	width: calc(100% - 270px);
	float:left;
}

.work-box{
	background-color:#f1f1f1;
	height:260px;
	margin-right:10px;
	width:32%!important;
	margin-bottom:10px;
	padding:0px!important;
	position:relative;
	overflow:hidden;
	img{
		width: 100%;
		height: auto;
	}
	.over{
		width: 100%;
		height: 100%;
		background-color:$black;
		opacity: 0;
		position:absolute;
		z-index: 999;
		transition: all 0.5s ease;
		cursor: pointer;
		i{
			text-align: center;
			display: block;
			width: 50px;
			height: 50px;
			background-color:$white;
			border-radius:160px;
			line-height: 50px;
			margin: 0px auto;
			color: $black;
			font-size: 20px;
		}
	}
}
.work-box .over:hover{
	opacity:0.8;
}

