.bt-normal{
	width: 165px;
	height: 45px;
	text-align:center;
	color:$white;
	line-height:45px;
	display:block;
	float:left;
	background:$black;
	transition: all 0.5s ease;
	border:none;
	letter-spacing:2px;
	&:hover{
		opacity: 0.8;
	}
	a{
		display: block;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-weight:bold;
		font-size:12px!important;
		text-transform:uppercase;
	}
}

.bt-center{
	margin:0px auto;
	float:none;
}

.black-bt{
	background:$black;
	span{
		color: #fff!important;
	}
	&:hover{
		background:#333;
	}
}